
.dashboard{
    display:flex;
    min-height:100vh;
    background:#f4f7fb;
}

.main-content{
    flex:1;
    padding:25px;
}

/* Dashboard Cards */

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
    margin-top:20px;
    margin-bottom:30px;
}

.card{
    background:white;
    border-radius:12px;
    padding:25px;
    box-shadow:0 4px 10px rgba(0,0,0,.08);
    transition:.3s;
}

.card:hover{
    transform:translateY(-5px);
}

.card h3{
    color:#1565C0;
    margin-bottom:10px;
}

.card h2{
    font-size:34px;
    margin-bottom:8px;
}

.card p{
    color:gray;
}

/* Activity */

.activity{
    background:white;
    border-radius:12px;
    padding:25px;
    box-shadow:0 4px 10px rgba(0,0,0,.08);
}

.activity h2{
    color:#1565C0;
    margin-bottom:20px;
}

table{
    width:100%;
    border-collapse:collapse;
}

th{
    background:#1565C0;
    color:white;
    padding:15px;
}

td{
    padding:15px;
    border-bottom:1px solid #ddd;
}

tr:hover{
    background:#f7f9fc;
}
